
.container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 50px;
  column-gap: 30px;
  animation: fadeInLeft;
  animation-duration: 1s;
}
.app {
  padding: 2rem;
}
.profile{
  width: 300px;
  height: auto;
  padding: 50px;
  animation: fadeIn;
  animation-duration: 1s;
}
.table{
  width: 700px;
  height: auto;
  padding: 10px;
  animation: fadeIn;
  animation-duration: 1s;

}
.center {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
th{
  text-align: center;
}

mat-icon{
  cursor: pointer;
}


