

<div class="content mat-elevation-z8" style="background-color: white;">
  <div class="container">

    <h2 class="title" style="margin-left: 5px;">I tuoi Questionari</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titolo</th>
        <th scope="col">descrizione</th>
        <th scope="col">N.Candidati</th>
        <th scope="col">M.Punteggi</th>
      </tr>
      </thead>
      <tbody>
       <tr *ngFor="let quest of questList; index as i">
        <th scope="row" >{{i + 1}}</th>
        <td>{{quest.titolo}}</td>
        <td>{{quest.descrizione}}</td>
        <td>{{nCand[i]}}
          <a (click)="utentiqu(quest.id)"><button style="background-color:transparent;border: none;font-size: 4px;" (click)="Open(i)" *ngIf="dropdown[i]==false"><mat-icon style="text-align: right;font-size: 20px;">keyboard_arrow_down</mat-icon></button></a>
        <button style="background-color:transparent;border: none;font-size: 4px;" (click)="Close(i)" *ngIf="dropdown[i]==true"><mat-icon style="text-align: right;font-size: 20px;">keyboard_arrow_up</mat-icon></button>
        </td>
        <td>{{media[i]}}%</td>
      </tr>
      </tbody>
    </table>


  </div>
  </div>

  <div class="content mat-elevation-z8" style="background-color: white;">
    <div class="container">
  <div *ngFor="let quest of questList; index as in">
    <table *ngIf="dropdown[in]" class="table" style="font-size:13px;">
      <thead>
        <tr style="margin-top: 10px;">
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Cognome</th>
          <th scope="col">Punteggio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let us of user; index as i">
          <th scope="row">{{i + 1}}</th>
          <td>{{user[i].nome}} </td>
          <td>{{user[i].cognome}}</td>
          <td>{{punteggi[i]}} / {{pTot[in]}}</td>
        </tr>
        </tbody>
      </table>
  </div>
    </div>
  </div>
