

<div class="container">
    <div class="login">
        <div class="form">
          <form #form="ngForm" (ngSubmit) = "onSubmit()" class="login-form">
            <span>Sign Up</span>
            <input [(ngModel)] = "utente.nome" name="nome" placeholder="nome" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/>
            <input [(ngModel)] = "utente.cognome" name="cognome" placeholder="cognome" required />
            <input [(ngModel)] = "utente.email" name="email" placeholder="email" required />
            <input [(ngModel)] = "utente.password" name="password" placeholder="password" required />
            <input type="submit"  value="Register" class="submit">
            <span *ngIf="success==true" style="font-size: 20px;" class="animate__animated animate__fadeIn"><mat-icon>done</mat-icon>Account Creato!</span>
            <p *ngIf="success==false" >or</p>
            <a *ngIf="success==false" routerLink="/">Already have an account?</a>
          </form>
        </div>
      </div>
    </div>
